
body{
    text-align: center;
    list-style-position: inside
    
}

header {
    background-color: rgb(130, 188, 224);
    color: rgb(3, 3, 3);

}
h1 {
    background-color: whitesmoke;
    color: rgb(27, 96, 13);
    
}


ul li {
    color: rgb(236, 111, 15);
}