* {
    box-sizing: border-box;
  }
  ul {
    margin: 0;
    padding: 0;
  }
  ul li {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 16px;
    transition: 300ms;
    list-style-type: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    line-height: 20px;
    border-radius: 5px;
    word-break: break-all;
    display: flex;
    align-items: center;
  }
  ul li .fa-solid {
    align-items: center;
    text-align: center;
    margin-left: auto;
    padding: 0px 10px 0 10px;
    display: block;
    font-size: 20px;
    color: rgb(182, 174, 174);
    margin-right: 10px;
    transition: 700ms all;
    float: right;
  }
  ul li .fa-solid:hover {
    color: black;
    transform: rotate(180deg);
  }
  ul li:nth-child(odd) {
    background: #f9f9f9;
  }
  ul li:hover {
    background: #ddd;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, .5);
    transform: scale(1.002);
  }
  ul li.checked{
    background: #276678;
    color: white;
    text-decoration: line-through;
    transform: scale(1.01);
  }
  ul li.checked .fa-solid{
    color: white !important; 
  }
  ul li.checked::before {
    content: "";
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
  }
  .header {
    background-color: #f78501;
    padding: 30px 40px;
    color: white;
    text-align: center;
    border-radius: 5px;
  }
  img {
    background-color: white;
  }
  .header:after {
    content: "";
    display: table;
    clear: both;
  }
  input {
    margin: 0;
    border: none;
    border-radius: 0;
    width: 75%;
    padding: 10px;
    float: left;
    font-size: 16px;
  }
  .button {
    padding: 10px;
    width: 25%;
    background: #d9d9d9;
    color: #555;
    float: left;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
  }
  .button:hover {
    background-color: #bbb;
  }
  